{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>
<body>

<div class="page">
    <div class="glass">
        <h2>Login</h2>

        {% if user.is_authenticated %}
            <p>You are logged in as {{ user.username }}</p>

            <form method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="input">
                    {{ form.username }}
                </div>

                <div class="input">
                    {{ form.password }}
                </div>

                <button type="submit">Login</button>
            </form>
        {% endif %}
    </div>
</div>

</body>
</html>
